<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Order failed</h2>
        <p>Order exceeds warehouse stock! </p>
        <hr />
        <p>Please go back and re-check!</p>
    </div>
</div>